.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib
*.egg-info/
dist/
build/
.DS_Store

# node
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Environments
.venv
# secrets
.env

# misc
Thumbs.db
