# Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib
*.egg-info/
dist/
build/
.DS_Store

# node
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Environments
.venv
.venv/
venv/

# secrets
.env

# misc
Thumbs.db

# Database ignores
*.png
*.csv
database_metrics.json
